
//<ШРИФТЫ>===============================================================================================
//для кириллицы нужно добавить в конец подключенного шрифта
//&display=swap&subset=cyrillic-ext
//<Подключаем шрифты>=======================================================================================
//поставить кавычки в скобки

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

//</Подключаем шрифты>=======================================================================================
/*
@font-face {
	font-family: 'UniSans';
	src: url('../fonts/UniSansHeavyCAPS.eot');
	src: local('☺'), url('../fonts/UniSansHeavyCAPS.woff') format('woff'), url('../fonts/UniSansHeavyCAPS.ttf') format('truetype');
	font-weight: 900;
   font-style: normal;
}
*/

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Roboto";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>==============================================================================================================


//<ПЕРЕМЕННЫЕ>=====СЕТКА АДАПТИВА ======================================================================================================
$minwidth: 320px;
$mwidth: 1600px; //ширина всего полотна макета от дизайнера
$mw: 1280; //ширина контейнера ВСЕГДА!! - добавила отступы без-ти
// на основании нее остальные брейкпойнты
$md1: $mw+12;
$md2: 991.98; //планшет
$md3: 767.98; //бол смартфон
$md4: 319.98; //мал смартфон

//</ПЕРЕМЕННЫЕ>==============================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
//подкл обнуляющий файл
@import "null";

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;

   &.loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $mw+px;
   //margin: 0 auto;
   width: 100%;
   padding: 0px 20px; //отступы без-ти


   @media (max-width:$md1+px) {
      max-width: 970px;
   }

   @media (max-width:$md2+px) {
      max-width: 750px;
   }

   @media (max-width:$md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}
.main {
   padding: 80px 0px 80px 0px;
}
.container__border {
   border: 1px solid #DCE2E8;
   padding: 48px 48px 50px 48px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================




//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "header.scss";
@import "footer.scss";


